<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee List</title>
</head>
<body>
  <h1>Employee List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Hire Date</th>
        <th>End Date</th>
      </tr> 
    </thead>
    <tbody>
      <% employees.forEach(function(employees) { %>
      <tr>
        <td><%= employees.id %></td>
        <td><%= employees.firstname %></td>
        <td><%= employees.lastname %></td>
        <td><%= employees.phone %></td>
        <td><%= employees.salary %></td>
        <td><%= employees.department %></td>
        <td><%= employees.hiredate %></td>
        <td><%= employees.enddate %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
